@import url('https://fonts.googleapis.com/css?family=Changa:300,400,700,800|Roboto:300,400,700,900');
/* Base CSS */
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
   
}


.{
    font-family: 'Niconne', cursive;
}

body { 
font-family: 'Roboto', sans-serif;
line-height: 1.8;
font-weight:400;
font-size: 15px;
color: #333333;
}


.section-padding {
  padding-top: 100px;
}
.fetured-title {
  margin-bottom: 210px;
}
.fetured-area {
  position: relative;
  z-index: 1;
  padding-bottom: 158px;
}
.fetured-title h3 {
  color: #73759E;
  font-size: 28px;
}

.futrued-content h4 {
  color: #73759E;
  font-size: 25px;
}
.position-absulate {
  position: absolute;
  right: -70px;
  bottom: 0;
}


.position-absulate {
  position: absolute;
  right: -70px;
  bottom: 0;
}