/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  


.position-absulate {

    position: relative;
    right: auto;
    bottom: 0;
    left: 0;

}
.fetured-title {
	margin-bottom: 20px;
}
.futrued-content {
	margin-bottom: 30px;
}
.fetured-area {
	padding-bottom: 0;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  
.position-absulate {

    position: relative;
    right: auto;
    bottom: 0;
    left: 0;

}
.fetured-title {
	margin-bottom: 20px;
}
.futrued-content {
	margin-bottom: 30px;
}
.fetured-area {
	padding-bottom: 0;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
}